/* carDetailCardの例あると */



   .carDetailCard {
    @apply border-solid border-2 border-gray-300  bg-white rounded-lg p-2 m-2;
    & table{
        width: 100%;
    }
    & td{
        text-align: center;
        font-size: 0.8rem;
        
    }
    & th {
        text-align: center;
        font-size: 1rem;
        width: 9%;
    }
  }