.searchBar {
  @apply col-start-1 col-end-13 row-start-1 row-end-2 w-11/12 m-auto;

  & > button {
    @apply bg-black text-white rounded-xl  w-1/6 h-14 mx-3 my-10;
  }

  & > input {
    @apply rounded-xl w-4/6 h-16 mr-8 my-10;
  }
}

/* auctionLabel */
.auctionLabel {
  display: flex;
  flex-flow: column;
  width: 90%;
  margin: 0 auto;

  & > div {
    @apply flex order-2 mx-auto w-11/12 ;
    & img {
      @apply w-full h-auto;
    }
  }
  & > a {
    @apply order-3 text-right;
  }
}
 .auctionLabel > h2 {
  @apply order-1;
}
/* auctionLabel ここまで */

/* searchItems */
.searchTitles {
  @apply w-11/12  mx-auto my-4 justify-around col-start-4 col-end-10 row-start-2 row-end-3 mb-0 ;
  & > ul {
    @apply flex justify-around bg-white p-4 pb-0;
  }
}
.categoryLabel{
  @apply bg-white pb-2  w-11/12 mx-auto;

  & .searchItems{
    @apply  my-4 flex justify-around mt-0 py-3 mx-10 bg-category-color ;

    & > ul {
      @apply pb-0;
    }

    & li{
      @apply text-link-color
    }
  }
}
.categoryTagColor{
  @apply bg-category-color p-2  ;
}
/* searchItems ここまで */

/* carDetailCardの例あると */
.carDetailLabel {
  @apply py-4  bg-white my-5;

  & > .carDetailCard {
    @apply border-solid border-2 border-gray-300  bg-white rounded-lg p-2 m-2;
    & table{
        width: 100%;
    }
    & td {
        text-align: center;
    }
  }
}

.pager {
  @apply flex justify-between w-11/12 mx-auto;
}
